{% extends '/layouts/base.html' %}

{% block title %} Daniel Bond {% endblock %}

{% block content %}

<div class="row text-center">
  <h5><a href="/">Home</a> |
  <a href="http://blog.dbond.cc">Blog</a> |
  <a href="#Something">Something</a> |
  <a href="#SomethingElse">Something Else</a> |
  <a href="#Projects">Projects</a> |
  <a href="#Resume">Resume</a> |
  <a href="#ContactMe">Contact Me</a></h5>
</div>

<legend></legend>

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>Daniel Bond</strong></h1>
      <p class="lead">a suitable a slogan for my site</p>
    </div>
  </div>
</div>

<div class="row text-center">

  <!-- put my head above the text on small screens -->
  <div class="visible-xs visible-sm small-bottom-margin">
    <img class="img-circle img-responsive center center-block pic-size"
    src="/static/img/daniel-gravatar.jpg" alt="A picture of Daniel">
  </div>

  <div class="col-md-8 small-bottom-margin">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.
  </div>
  
  <div class="col-md-4 hidden-sm hidden-xs">
   <img class="img-circle img-responsive center center-block pic-size"
   src="/static/img/daniel-gravatar.jpg" alt="A picture of Daniel">
   </a>
  </div>

</div>

<!-- legends are in rows so they're formatted consistedly with the other
     portions of the page -->
<div class="row">

  <div class="col-md-12">
    <legend><a name="Something" href="#Something">Something</a></legend>
  </div>

  <div class="col-md-4 small-bottom-margin">
    <img src="/static/img/grayboxes.png" class="img-circle img-responsive center center-block pic-size" alt="A picture of me doing something interesting.">
  </div>

  <div class="col-md-8 small-bottom-margin">
    Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.
  </div>

</div>

<div class="row">

  <div class="col-md-12">
    <legend><a name="SomethingElse" href="#SomethingElse">Something else</a></legend>
  </div>

  <!-- put my head above the text on small screens -->
  <div class="visible-xs visible-sm small-bottom-margin">
    <img src="/static/img/grayboxes.png" class="img-circle img-responsive center center-block pic-size" alt="Another picture of me doing something interesting.">
  </div>
  
  <div class="col-md-8 small-bottom-margin">
  Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue vestibulum. Ut dolor diam, elementum et vestibulum eu, porttitor vel elit.
  </div>

  <div class="col-md-4 hidden-sm hidden-xs">
    <img src="/static/img/grayboxes.png" class="img-circle img-responsive center center-block pic-size" alt="Another picture of me doing something interesting.">
  </div>

</div>

<div class="row">

  <div class="col-md-12">
    <legend><a name="Projects" href="#Projects">Projects</a></legend>
  </div>

  <div class="col-md-3 small-bottom-margin text-center">
    <h4><a href="#">Project 1</a></h4>
    <img src="/static/img/grayboxes.png" class="img-circle img-responsive center center-block smaller-pic-size" alt="A description of Project 1.">
  </div>

  <div class="col-md-3 small-bottom-margin text-center">
    <h4><a href="#">Project 2</a></h4>
    <img src="/static/img/grayboxes.png" class="img-circle img-responsive center center-block smaller-pic-size" alt="A description of Project 2.">
  </div>

  <div class="col-md-3 small-bottom-margin text-center">
    <h4><a href="#">Project 3</a></h4>
    <img src="/static/img/grayboxes.png" class="img-circle img-responsive center center-block smaller-pic-size" alt="A description of Project 3.">
  </div>

  <div class="col-md-3 small-bottom-margin text-center">
    <h4><a href="#">Project 4</a></h4>
    <img src="/static/img/grayboxes.png" class="img-circle img-responsive center center-block smaller-pic-size" alt="A description of Project 4.">
  </div>

</div>

<div class="row">

  <div class="col-md-12">
    <legend><a name="ContactMe" href="#ContactMe">Contact Me</a></legend>
  </div>

  <div class="col-md-3 small-bottom-margin">
    <i class="fa fa-envelope fa-lg"></i>
    &nbsp;&nbsp;daniel <small>(at)</small> dbond <small>(dot)</small> cc
  </div>

  <div class="col-md-3 small-bottom-margin">
    <i class="fa fa-comment fa-lg"></i>
    &nbsp;&nbsp;
    dbond@member.fsf.org
  </div>

  <div class="col-md-6 small-bottom-margin">
    <i class="fa fa-key fa-lg"></i>
    &nbsp;&nbsp;
    E814 E040 1A72 B1B4 6E2B 94AD 3801 DF35 2EFD FD11
  </div>

  <div class="col-md-3 small-bottom-margin">
    <i class="fa fa-phone fa-lg"></i>
    &nbsp;&nbsp;
    +1 571 247 8180
  </div>

  <div class="col-md-3 small-bottom-margin">
    <i class="fa fa-facebook fa-lg"></i>
    &nbsp;&nbsp;
    <a href="https://facebook.com/daniel.w.bond" target="_newtab">
    fb.com/daniel.w.bond</a>
  </div>
  
  <div class="col-md-3 small-bottom-margin">
    <i class="fa fa-asterisk fa-lg"></i>
    &nbsp;&nbsp;
    <a href="https://joindiaspora.com/u/dwbond" target="_newtab">
    joindiaspora.com/u/dwbond</a>
  </div>

  <div class="col-md-3 small-bottom-margin">
    <i class="fa fa-github fa-lg"></i>
    &nbsp;&nbsp;
    <a href="https://github.com/dwbond" target="_newtab">
    github.com/dwbond</a>
  </div>

  <div class="col-md-6 small-bottom-margin">
    <i class="fa fa-pencil-square-o fa-lg"></i>
    &nbsp;&nbsp;
    4450 Rivanna River Way, PMB #1508, Fairfax, VA, 22030, USA
  </div>

</div>
  
{% endblock %}
