{% extends '/layouts/base.html' %}

{% block title %} Daniel Bond {% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1><strong>Daniel Bond</strong></h1>
      <p class="lead">a suitable a slogan for my site</p>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-lg-8">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.
  </div>
  <div class="col-lg-4">
   <img class="img-circle img-responsive center center-block" src="{{ 'daniel@dbond.cc' | gravatar(size=200) }}">
   </a>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <legend>Something</legend>

    <legend>Something else</legend>

    <legend>Something else further still</legend>
  </div>
</div>

{% endblock %}
