{% extends '/layouts/base.html' %}

{% block title %} Daniel Bond {% endblock %}

{% block content %}

<div class="hidden-xs">
<a href="https://github.com/dwbond" target="_newtab"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
</div>

<!-- <script type="text/javascript" src="http://cdn.wattagecreative.com/occupybanner/bannerscript_left.v1.2.js"></script> -->

<div class="row text-center">
  <h5><a href="/">Home</a> |
  <a href="http://blog.dbond.cc">Blog</a> |
  <a href="#Work">Work</a> |
  <a href="#Extracurriculars">Extracurriculars</a> |
  <a href="#Projects">Projects</a> |
  <a href="#ContactMe">Contact Me</a> |
  <a href="/static/media/resume.pdf" download="resume.pdf">Resume</a></h5>
</div>

<legend></legend>

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><strong>Daniel Bond</strong></h1>
      <p class="lead">a suitable a slogan for my site</p>
    </div>
  </div>
</div>

<div class="row text-center">

  <!-- put my head above the text on small screens -->
  <div class="visible-xs visible-sm small-bottom-margin">
    <img class="img-circle img-responsive center center-block pic-size"
    src="/static/img/daniel-gravatar.jpg" alt="A picture of Daniel">
  </div>

  <div class="col-md-8 small-bottom-margin">
  <p>
    I'm Daniel Bond, a student at George Mason University studying Computer Science.
  </p>
  </div>
  
  <div class="col-md-4 hidden-sm hidden-xs">
   <img class="img-circle img-responsive center center-block pic-size"
   src="/static/img/daniel-gravatar.jpg" alt="A picture of Daniel">
   </a>
  </div>

</div>

<!-- legends are in rows so they're formatted consistedly with the other
     portions of the page -->
<div class="row">

  <div class="col-md-12">
    <legend><a name="Work" href="#Work">Work</a></legend>
  </div>

  <div class="col-md-4 small-bottom-margin">
    <img src="/static/img/grayboxes.png" class="img-circle img-responsive center center-block pic-size" alt="A picture of me doing something interesting.">
  </div>

  <div class="col-md-8 small-bottom-margin">
    <p>Intern at Bitbox</p>
    <p>Undergraduate Teacher's Assistant</p>
    <p>Support Center</p>
  </div>

</div>

<div class="row">

  <div class="col-md-12">
    <legend><a name="Extracurriculars" href="#Extracurriculars">Extracurriculars</a></legend>
  </div>

  <!-- put my head above the text on small screens -->
  <div class="visible-xs visible-sm small-bottom-margin">
    <img src="/static/img/grayboxes.png" class="img-circle img-responsive center center-block pic-size" alt="Another picture of me doing something interesting.">
  </div>
  
  <div class="col-md-8 small-bottom-margin">
    College
    <p>Student-Run Computing and Technology</p>
    <p>Research Grants</p>
    <p>Student Government</p>
    Before College
    <p>Boy Scouts</p>
    <p>Science Fair Awards</p>
  </div>

  <div class="col-md-4 hidden-sm hidden-xs">
    <img src="/static/img/grayboxes.png" class="img-circle img-responsive center center-block pic-size" alt="Another picture of me doing something interesting.">
  </div>

</div>

<div class="row">

  <div class="col-md-12">
    <legend><a name="Projects" href="#Projects">Projects</a></legend>
  </div>

  <div class="col-md-3 small-bottom-margin text-center">
    <h4><a href="http://legalseagull.net/">Legal Seagull</a></h4>
    <img src="/static/img/seagull.png" class="img-circle img-responsive center center-block smaller-pic-size small-bottom-margin" alt="A description of Project 1.">
    Interactive legal reference
  </div>

  <div class="col-md-3 small-bottom-margin text-center">
    <h4><a href="http://advisor.srct.gmu.edu/">Advisor</a></h4>
    <img src="/static/img/grayboxes.png" class="img-circle img-responsive center center-block smaller-pic-size small-bottom-margin">
    Automated academic advising
  </div>

  <div class="col-md-3 small-bottom-margin text-center">
    <h4><a href="http://nsaoutofacademia.org/">NSA Out of Academia</a></h4>
    <img src="/static/img/grayboxes.png" class="img-circle img-responsive center center-block smaller-pic-size small-bottom-margin">
    Peacefully opposing the NSA on campus
  </div>

  <div class="col-md-3 small-bottom-margin text-center">
    <h4><a href="#">Public Higher Ed</a></h4>
    <img src="/static/img/grayboxes.png" class="img-circle img-responsive center center-block smaller-pic-size small-bottom-margin">
    Visualization of free higher ed for all
  </div>

</div>

<div class="row">

  <div class="col-md-12">
    <legend><a name="ContactMe" href="#ContactMe">Contact Me</a></legend>
  </div>

  <div class="col-md-3 small-bottom-margin">
    <i class="fa fa-envelope fa-lg"></i>
    &nbsp;&nbsp;daniel <small>(at)</small> dbond <small>(dot)</small> cc
  </div>

  <div class="col-md-3 small-bottom-margin">
    <i class="fa fa-comment fa-lg"></i>
    &nbsp;&nbsp;
    dbond@member.fsf.org
  </div>

  <div class="col-md-6 small-bottom-margin">
    <i class="fa fa-key fa-lg"></i>
    &nbsp;&nbsp;
    E814 E040 1A72 B1B4 6E2B 94AD 3801 DF35 2EFD FD11
  </div>

  <div class="col-md-3 small-bottom-margin">
    <i class="fa fa-phone fa-lg"></i>
    &nbsp;&nbsp;
    +1 571 247 8180
  </div>

  <div class="col-md-3 small-bottom-margin">
    <i class="fa fa-facebook fa-lg"></i>
    &nbsp;&nbsp;
    <a href="https://facebook.com/daniel.w.bond" target="_newtab">
    fb.com/daniel.w.bond</a>
  </div>
  
  <div class="col-md-3 small-bottom-margin">
    <i class="fa fa-asterisk fa-lg"></i>
    &nbsp;&nbsp;
    <a href="https://joindiaspora.com/u/dwbond" target="_newtab">
    joindiaspora.com/u/dwbond</a>
  </div>

  <div class="col-md-3 small-bottom-margin">
    <i class="fa fa-github fa-lg"></i>
    &nbsp;&nbsp;
    <a href="https://github.com/dwbond" target="_newtab">
    github.com/dwbond</a>
  </div>

  <div class="col-md-6 small-bottom-margin">
    <i class="fa fa-pencil-square-o fa-lg"></i>
    &nbsp;&nbsp;
    4450 Rivanna River Way, PMB #1508, Fairfax, VA, 22030, USA
  </div>

</div>
  
{% endblock %}
