{% extends '/layouts/base.html' %}

{% block title %} Suspiciously Happy {% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="bigger small-bottom-margin">( ͡° ͜ʖ ͡°)</h1>
      <p><strong><a href="/"><h1>Suspiciously Happy</h1></a></strong></p>
    </div>
  </div>
</div>

<h1>
<div class="row text-center">

  <div class="col-sm-4">
    <p>ಠ_ಠ</p>
  </div>

  <div class="col-sm-4">
    <p>(╯°□°)╯︵ ┻━┻</p>
  </div>

  <div class="col-sm-4">
    <p>ಠ_ರೃ</p>
  </div>

  <div class="col-sm-4">
    <p>(⊙_⊙)</p>
  </div>

  <div class="col-sm-4">
    <p>┬─┬ノ( º _ ºノ)</p>
  </div>

  <div class="col-sm-4">
    <p>( ﾟ Дﾟ)</p>
  </div>

  <div class="col-sm-4">
    <p>¯\_(ツ)_/¯</p>
  </div>

  <div class="col-sm-4">
    <p>ლ(ಠ_ಠლ)</p>
  </div>

  <div class="col-sm-4">
    <p>(ò_ó)</p>
  </div>

</div>
</h1>

{% endblock %}
