<div class="container">
  
  <div class="row">
    <div class="pull-left force-bottom">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_US" target="_newtab"><img style="height:auto;" src="/static/img/cc-88x31.png" alt="[CC-BY-SA]" /></a>
    </div>

    <div class="pull-right">
      <a href="http://www.fsf.org/register_form?referrer=11748" target="_newtab"><img style="height:auto; max-width:140px; max-height:140px;" src="/static/img/fsf-11748.png" alt="[FSF Associate Member]" /></a>
    </div>
  
  </div>

</div>
