<div class="container">
  
  <div class="row hidden-xs">
    <div class="pull-left force-bottom">
      Probably something important? Let's make the text a bit longer.
    </div>
    <div class="pull-right">
      <a href="http://www.fsf.org/register_form?referrer=11748" target="_newtab"><img style="height:auto; height:auto; max-width:140px; max-height:140px;" src="http://static.fsf.org/nosvn/associate/fsf-11748.png" alt="[FSF Associate Member]" /></a>
    </div>
  </div>


  <div class="row visible-xs">
    <div class="pull-right">
      <a href="http://www.fsf.org/register_form?referrer=11748" target="_newtab"><img style="height:auto; height:auto; max-width:140px; max-height:140px;" src="http://static.fsf.org/nosvn/associate/fsf-11748.png" alt="[FSF Associate Member]" /></a>
    </div>
    <div>
      Probably something important? Let's make the text a bit longer.
    </div>
  </div>

</div>
