/* Sticky footer styles */

/* The html and body elements cannot have any padding or margin. */

html,
body {
height:100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
  padding-top: 50px;
 }

 /* Set the fixed height of the footer here */
#footer {
   color: rgba(250, 250, 250, 0.8);
   height: 50px;
}

body {
  background: url(/static/img/green-fibers.png) repeat;
}

.transparent-container {
  background-color: rgba(250, 250, 250, 0.8);
}

.small-picture {
  margin-bottom: 15px;
}
